@model EventVM

<div class="container">


    <button type="button" class="White-Button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float:right;">
        Etkinlik Oluştur
    </button>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th class="fw-bold fs-6">Id</th>
                <th class="fw-bold fs-6">Başlık</th>
                <th class="fw-bold fs-6">Katılımcılar</th>
                <th class="fw-bold fs-6">Başlangıç Tarihi</th>
                <th class="fw-bold fs-6">Konum</th>
                <th class="fw-bold fs-6">Oluşturan</th>
                <th class="fw-bold fs-6">Oluşturma Tarihi</th>
                <th class="fw-bold fs-6">Durum</th>
                <th class="fw-bold fs-6">Puan</th>
                <th class="fw-bold fs-6">Sil</th>
                <th class="fw-bold fs-6">Detay</th>
            </tr>
        </thead>
        <tbody>
                 @foreach (var item in Model.Events)
                {
            <tr>
                    <td>
                        @item.Id
                    </td>

                    <td>
                        .@item.Title
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                 alt=""
                                 style="width: 20px; height: 20px"
                                 class="rounded-circle" />

                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                 alt=""
                                 style="width: 20px; height: 20px"
                                 class="rounded-circle" />

                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                 alt=""
                                 style="width: 20px; height: 20px"
                                 class="rounded-circle" />

                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                 alt=""
                                 style="width: 20px; height: 20px"
                                 class="rounded-circle" />
                        </div>
                    </td>

                    <td>@item.StartDate</td>


                    <td>
                        @item.Location
                    </td>

                    <td>
                        @item.CREATED_USER_ID.ToString();
                    </td>

                    <td>
                        @item.CREATED_DATE
                    </td>

                    <td>
                        @if(item.StartDate < DateTime.UtcNow){
                            <span class="badge badge-danger rounded-pill d-inline">Pasif</span>
                        }

                        else
                        {
                            <span class="badge badge-success rounded-pill d-inline">Aktif</span>
                    }

                    </td>

                    <td>
                        <div class="progress" style="height: 20px; border-radius:10px; width:60px">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @item.EventRatings%;" aria-valuenow="@item.EventRatings" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>

                    <td class="Table-Buttons">@Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "Red-Button", onclick = "return confirm('Gerçekten silmek istiyor musunuz?')" })</td>

                    <td class="Table-Buttons"><a class="Red-Button" asp-action="Detail" asp-route-id="@item.Id">Detay</a></td>
            </tr>
            }


        </tbody>
    </table>


    <!-- Create Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Etkinlik Oluşturma</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                        <form method="post" asp-controller="Event" asp-action="Create">

                            <div class="d-flex flex-column justify-content-center">
                                <div class="mt-2">
                                    <div class="form-group mb-4">
                                        <label for="SelectBook" class="form-label">Kitap Seçimi</label>
                                        <select asp-for="ISBN" class="form-control p-3" id="SelectBook">
                                            <option value="1ASDF">Nutuk</option>
                                            <option value="2ASDF">Ateşten Gömlek</option>
                                        </select>
                                    </div>

                                    <div class="form-group mb-4">
                                    <label for="Title" class="form-label">Başlık</label>
                                    <input asp-for="Title" class="form-control" placeholder="Başlık" id="Title"/>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="SelectLocation" class="form-label">Lokasyon</label>
                                        <select asp-for="LocationId" class="form-control p-3" id="SelectLocation">
                                            <option value="1">Okul Kütüphanesi</option>
                                        </select>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="StartDate" class="form-label">Başlangıç Tarihi</label>
                                        <input type="date" asp-for="StartDate" value="@DateTime.Now" class="form-control" id="StartDate"/>
                                    </div>

                                </div>
                            </div>

                        </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="Red-Button" value="Oluştur" />
                    <button type="button" class="White-Button" data-bs-dismiss="modal">İptal Et</button>
                </div>
            </div>
        </div>
    </div>

</div>

 <style>
.Red-Button {
        font-weight: 600;
        font-size: 18px;
        border-radius: 60px;
        border: none ;
        padding: 7px 20px;
        color: white;
        background-color: var(--red);
    }


.White-Button {
        font-weight: 600;
        font-size: 18px;
        border-radius: 60px;
        border: solid 3px var(--red);
        background-color: white;
        padding: 7px 20px;
        color: var(--red);
    }
</style>
@* 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script> *@