
@{
    ViewData["Title"] = "Index";
}
@model UserVM

@* <div class="row mt-5">
    <div class="col-md-6 offset-md-3">

        <div class="card mx-auto" style="width: 22rem; height: 22rem;">
            <user-picture-thumbnail picture="@Model.Picture" class="card-img-top"></user-picture-thumbnail>
            <div class="card-body">
                <h5 class="card-title">@Model.UserName</h5>
                @if (!String.IsNullOrEmpty(Model.Email)) { <p class="card-text">Email: @Model.Email</p> }
                else { <p class="card-text">Email: -</p> }

                @if (!String.IsNullOrEmpty(Model.PhoneNumber)) { <p class="card-text">Phone Number: @Model.PhoneNumber</p> }
                else { <p class="card-text">Phone Number: -</p> }

                @if (Model.Birthdate.HasValue) {<p class="card-text">Birthdate: @Model.Birthdate.Value.ToString("d")</p> }
                else { <p class="card-text">Birthdate: -</p> }

                @if (Model.Gender.HasValue) { <p class="card-text">Gender: @Model.Gender</p> }
                else { <p class="card-text">Gender: -</p> }

                @if (!String.IsNullOrEmpty(Model.City)) { <p class="card-text">City: @Model.City</p> }
                else { <p class="card-text">City: -</p> }

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div> *@
<section>
    @* <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <img src="~/img/userpictures/@Model.ProfilePicture" alt="..." style="width: 20rem; height: 20rem; border-radius: 50%; object-fit: cover;">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-3 rounded">
                                    <h3 class="h2 text-white mb-0">@Model.UserName</h3>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">E-Posta:</span> @Model.Email</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Telefon Numarası:</span> @Model.PhoneNumber</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">isim Soyisim:</span> @(!string.IsNullOrEmpty(Model.Firstname) && !string.IsNullOrEmpty(Model.Lastname) ? Model.Firstname + " " + Model.Lastname : "-")</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Okul:</span> @(@Model.School != null ? Model.School!.Name : "-")</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Bölüm:</span> @(Model.Department != null ? Model.Department!.Name : "-")</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Cinsiyet:</span> @(Model.Gender != null ? (Model.Gender == true ? "Erkek" : "Kadın") : "-") </li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@


    <div class="Select-Group">
        <div class="Sidebar">
            <div class="Sidebar-Area">
                <div class="Sidebar-Up">
                    <div class="Profile">
                        <img src="~/img/userpictures/@Model.ProfilePicture" alt="">
                        <p>@Model.Firstname @Model.Lastname</p>
                    </div>

                    <div class="SidebarUpLinks">
                        <ul>
                            <li><a href="profile.html">Genel Bakış</a></li>
                            <li><a href="readedbook.html">Okuduğum Kitaplar</a></li>
                            <li><a href="wantreadbook.html">Okumak İstediğim Kitaplar</a></li>
                        </ul>
                    </div>
                </div>



                <div class="Sidebar-Down">
                    <ul>
                        <li>
                            <h4>Telefon</h4>
                            <p>@Model.PhoneNumber</p>
                            <div class="Underline"></div>
                        </li>

                        <li>
                            <h4>E-Posta</h4>
                            <p>@Model.Email</p>
                            <div class="Underline"></div>
                        </li>

                        <li>
                            <h4>Okul Numarası</h4>
                            <p>@Model.SchoolNo</p>
                            <div class="Underline"></div>
                        </li>
                    </ul>

                    <div class="Siderbar-Footer">
                        <ul>
                            <li><a href="settings.html">Profilimi Düzenle</a></li>
                            <li><a href="#">Oturumu Kapat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <main class="container">
            <div class="d-flex flex-column">
                <div class="Badges-Area">
                    <h1>Rozetler</h1>
                    <div class="Badges">

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>


                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>

                        <div class="Badge">
                            <img src="~/img/ExampleBadge.png" alt="">
                            <p>İlk Giriş</p>
                        </div>
                    </div>
                </div>


                <div class="ReadedBooks">
                    <div class="BookLine"></div>
                    <div class="ReadedBooksUp">
                        <p><i class="fa-solid fa-bookmark" style="color: #00396f;"></i> OKUDUĞUM KİTAPLAR</p>

                        <a href="#"> <i class="fa-solid fa-circle-plus" style="color: #00396f;"></i> KİTAP EKLE</a>
                    </div>

                    <div class="ReadedBooksDown">
                        <img src="~/img/No-Book.png" alt="">
                        <p>Hiç kitabınız yok. <a href="#">Okuduğunuz bir kitabı ekleyin</a></p>
                    </div>
                </div>

                <div class="ReadedBooks">
                    <div class="BookLine"></div>
                    <div class="ReadedBooksUp">
                        <p><i class="fa-solid fa-bookmark" style="color: #00396f;"></i> OKUMAK İSTEDİĞİM KİTALAR</p>

                        <a href="#"> <i class="fa-solid fa-circle-plus" style="color: #00396f;"></i> KİTAP EKLE</a>
                    </div>

                    <div class="ReadedBooksDown">
                        <img src="~/img/No-Book.png" alt="">
                        <p>Hiç kitabınız yok. <a href="#">Okuduğunuz bir kitabı ekleyin</a></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>